# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore Alembic migration cache if unwanted
alembic/__pycache__/

alembic.ini

app/data_models/__pycache__/** 
